<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListenIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <header class="container-fluid" >
        <section class="row justify-content-around align-items-center text-center">
            <h1 class="col-12 col-md-3">ListenIn</h1>
                <a href="/" class="col-12 col-md-1">Home</a>
            {{#if loggedIn }}
            <form class="col-12 col-md-5">
                <input type="text" placeholder="Spotify Link" name="spotify" id="spotify-link" class="">
                <button type="submit">Submit</button>                
            </form>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </section>
    </header>
    <main class="container-fluid">
        {{{body}}}
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}

    </main>
</body>