<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListenIn</title>
        <linkrel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <h1>ListenIn</h1>
        <nav>
            {{#if loggedIn }}

            {{else}}
            
            {{/if}}
        </nav>
    </header>
    <main>
        <h2>Listen in on these tunes</h2>

        {{#if loggedIn}}

        {{else}}

        {{/if}}
    </main>
</body>