<section>
    <h3 class="my-3"><strong>Get Started with ListenIn</strong></h3>
    <h4>How to Create an Account</h4>
    <ol>
        <li>You can create an account by clicking 'Login' at the the top of the page.</br>
        <span>If you already have an account you can use your credentials to log in on this page instead.</span></li>
        <li>Enter a unique username, email, and password and click "Start Listening" to create your account!</li>
    </ol>
<h4 class="mt-3">How to use ListenIn</h4>
<p>Once logged in you you will be redirected to the homepage where you can:</p>
    <ul>
        <li>Browse posts made by all accounts on ListenIn</li>
        <li>listen to samples of shared songs
            </br>
            <span>
                If you have a paid spotify account you can sign in to Spotify.com to listen to full-length songs instead (Chrome Only)
            </span>
        </li>
        <li>Like posted tracks to show your interest</li>
        <li>Post Spotify tracks of your own using the 'Spotify Link' form at the top of the page</li>
        <li>View user profile pages by clicking a username at the top of any posted track
            </br>
            <span>Here you can follow the user by clicking the follow button under their username, see how many followers they have, and view any tracks they have posted</span>
        </li>
        <li>View single-posts by clicking the title of the posted track
            </br>
            <span>Here you can view comments on the selected track and leave comments of your own</span>
        </li>
    </ul>
<h4>Now Start Listening!</h4>
</section>