            <form class="login-form">
                <div>
                <label for="email">Email</label>
                <input type="text" placeholder="Email" name="email" id="email-login" class="">
                </div>
                <div>
                <label for="password">Password</label>
                <input type="password" placeholder="Password" name="password" id="password-login" class="">
                </div>
                <div>
                <button type="submit">Submit</button>
                </div>         
            </form>

<script src="/javascript/login.js"></script>