
        <div class="row justify-content-around">
            <div class="col-12 col-md-4 m-4 p-3">
                <h2 class="text-center">Log in</h2>
                <form class="user-form" id="login-form">
                    <input type="text" placeholder="Email" name="email" id="email-login" class="p-2 m-3">
                    <input type="password" placeholder="Password" name="password" id="password-login" class="p-2 m-3">
                    <button type="submit" class="p-2 m-3" id="login-btn">Start Listening</button>      
                </form>
            </div>

            <div class="col-12 col-md-4 m-4 p-3">
                <h2 class="text-center">Or Sign-up</h2>
                <form class="user-form" id="sign-up-form">
                    <input type="text" placeholder="Username" id="username-sign-up" class="p-2 m-3">
                    <input type="text" placeholder="Email" name="email" id="email-sign-up" class="p-2 m-3">
                    <input type="password" placeholder="Password" name="password" id="password-sign-up" class="p-2 m-3">
                    <button type="submit" id="sign-up-btn" class="p-2 m-3">Start Listening</button>
                </form>
            </div>
        </div>

<script src="/javascript/login.js"></script>