            <form>
                <label for="email">Email</label>
                <input type="text" placeholder="Email" name="email" id="email" class="">
                <label for="password">Password</label>
                <input type="text" placeholder="Password" name="password" id="password" class="">
                <button type="submit">Submit</button>                
            </form>