{{> user-info user}}
<section class="row justify-content-around border-top">
    {{#each user.posts as |post|}}
    {{> post-info}}
    {{/each}}
</section>

<script src="/javascript/logout.js"></script>