{{> user-info user}}
<section class="row justify-content-around border-top">
    {{#each user.posts as |post|}}
    {{> post-info}}
    {{/each}}
</section>

{{#if loggedIn}}
<script src="/javascript/follow.js"></script>
{{/if}}