<div class="row justify-content-center">
    {{> post-info post}}

    {{#if loggedIn}}
    <form class="comments col-6 text-center m-4 p-2 comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div class="buttons">
            <button type="submit" class="post-btn">Add Comment</button>
            <button type="button" class="upvote-btn">upvote</button>
        </div>
    </form>
    {{/if}}

    {{>comments post.comments}}
</div>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/vote.js"></script>
{{/if}}