header {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 7%, rgba(167,45,253,1) 89%);
    color: white;
}

a.title {
        color: inherit;
        text-decoration: inherit;
        font-weight: inherit;
}

.thumb {
    max-width: 60%;
}
